<header id="header">
    <ul class="nav clearfix">
        <li class="history">
            <a href="#" class="active">
                <div class="hover-bg"></div>
                <img class="text" src="../images/nav-1.png">
            </a>
        </li>
        <li class="opera">
            <a href="#">
                <div class="hover-bg"></div>
                <img class="text" src="../images/nav-2.png">
            </a>
        </li>
        <li class="video">
            <a href="#">
                <div class="hover-bg"></div>
                <img class="text" src="../images/nav-4.png">
            </a>
        </li>
        <li class="music">
            <a href="#">
                <div class="hover-bg"></div>
                <img class="text" src="../images/nav-3.png">
            </a>
        </li>
    </ul>
    <div class="title-2"><img src="../images/title-2.png"></div>
</header>