<header id="header">
    <ul class="nav clearfix">
        <li class="history">
            <a href="../history/index.html" id="nav-history">
                <div class="hover-bg"></div>
                <img class="text" src="../images/nav-1.png">
            </a>
        </li>
        <li class="opera">
            <a href="../opera/index.html" id="nav-opera">
                <div class="hover-bg"></div>
                <img class="text" src="../images/nav-2.png">
            </a>
        </li>
        <li class="video">
            <a href="../video/index.html" id="nav-video">
                <div class="hover-bg"></div>
                <img class="text" src="../images/nav-4.png">
            </a>
        </li>
        <li class="music">
            <a href="../music/index.html" id="nav-music">
                <div class="hover-bg"></div>
                <img class="text" src="../images/nav-3.png">
            </a>
        </li>
    </ul>
    <div class="title-2"><a href="../index.html"><img src="../images/title-2.png"></a></div>
</header>