<header id="header">
    <ul class="nav clearfix">
        <li class="history">
            <a href="../history/" id="nav-history">
                <div class="hover-bg"></div>
                <img class="text" src="../images/nav-1.png">
            </a>
        </li>
        <li class="opera">
            <a href="../opera/" id="nav-opera">
                <div class="hover-bg"></div>
                <img class="text" src="../images/nav-2.png">
            </a>
        </li>
        <li class="video">
            <a href="../video/" id="nav-video">
                <div class="hover-bg"></div>
                <img class="text" src="../images/nav-4.png">
            </a>
        </li>
        <li class="music">
            <a href="../music/" id="nav-music">
                <div class="hover-bg"></div>
                <img class="text" src="../images/nav-3.png">
            </a>
        </li>
    </ul>
    <div class="title-2"><a href="../"><img src="../images/title-2.png"></a></div>
</header>